
body {
      
}
* {
    font-family: 'Poppins', sans-serif !important;
}
.site-container {
    background-color: black;
    color: #fff;
    position: relative;
    &::before {
        width: 100%;
        height: 880px;
        position: absolute;
        top: 82px;
        left: 0;
        content: '';
        background-image: url('../src/assets/img/herobg.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    &::after {
        width: 100%;
        height: 289px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        background-image: url('../src/assets/img/footerbg.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
img {
    max-width: 100%;
}
.ant-col,
.ant-row {
    font-family: 'Poppins', sans-serif !important;
}

.header {
    padding: 46px 0 0;
    @media screen and (max-width: 1023px) {
        text-align: center;
        padding: 26px 0 0;    
        img {
            width: 55px;
        }
    }
}
.footer {
    position: relative;
    z-index: 1;
    .footer-logo {
        img {
            max-width: 96px;
        }
    }
    .ant-cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &.copyright {
            justify-content: center;
            padding: 60px 0;
            @media screen and (max-width: 1023px) { 
                padding: 20px 0;
            }
            a {
                color: white;
                padding-left: 10px;
                text-decoration: none;
            }
        }
        p {
            margin: 0;
            font-size: 16px;
            color: #A4A4A4;
            @media screen and (max-width: 1023px) { 
                text-align: center;
                a {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
        .footer-text {
            padding-left: 39px;
            max-width: 352px;
            @media screen and (max-width: 1023px) { 
                max-width: 255px;
                padding-left: 15px;
            }
        }
        .footer-link {
            padding-left: 90px;
            padding-right: 100px;
            @media screen and (max-width: 1023px) { 
                padding: 35px 0 20px;
                text-align: left;
                min-width: 100%;
                
            }
            p {
                font-weight: 500;
                color: white;
            }
        }
        .social-links {
            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                max-width: 320px;
                min-width: 320px;
                flex-wrap: wrap;
                @media screen and (max-width: 1023px) { 
                    justify-content: center;
                    max-width: 350px;
                }
                li {
                    margin-right: 24px;
                    margin-bottom: 24px;
                    @media screen and (max-width: 1023px) { 
                        margin-bottom: 18px;
                    }
                    a {
                        color: #A4A4A4;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        img {
                            margin-right: 8px;
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(5) {
                        margin-right: 0;
                    }
                    &:nth-child(4),
                    &:nth-child(5) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.ant-form-horizontal {
    position: relative;
    display: flex;
    @media screen and (max-width: 1023px) { 
        flex-direction: column;
    }
    .ant-form-item {
        min-width: 100%;
        max-width: 100%;
    }
    input.ant-input {
        height: 82px;
        background: #202020 !important;
        border-radius: 60px;
        border-color: transparent;
        padding-left: 32px;
        font-size: 20px;
        color: #fff;
        margin-bottom: 15px;
        font-family: 'Poppins', sans-serif !important;
        &::placeholder {
            color: #9D9D9D;
            opacity: 1;
        }  
        &::-ms-input-placeholder { 
            color: #9D9D9D;
        }
        @media screen and (max-width: 1023px) {
            height: 60px;   
            margin: 0;
        }
    }
    button.ant-btn-primary {
        position: absolute;
        top: 12px;
        height: 58px;
        border-radius: 60px;
        right: 12px;
        padding: 16px 32px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-weight: 500;
        &:hover {
            background: #C3F500 !important;
            color: black !important;
        }
        @media screen and (max-width: 1023px) {
            position: relative;
            top: 0;
            width: 100%;
            right: 0;
        }
    }
}
.hero-banner {
    position: relative;
    h2 {
        font-size: 74px;
        font-weight: 600;
        color: white;
        line-height: 88px;
        margin: 25px 0 20px;
        @media screen and (max-width: 1023px) {
            text-align: center; 
            font-size: 50px;
            line-height: 65px;
        }
    }
    p {
        font-size: 20px;
        color: #9D9D9D;
        margin: 0 0 25px;
        @media screen and (max-width: 1023px) {
            text-align: center;
            font-size: 16px;   
        }
    }
    @media screen and (max-width: 1023px) {
            
        form {
            .ant-row {
                flex-direction: unset;
            }
        }
    }
    .content-row {
        @media screen and (max-width: 1023px) {
            flex-direction: column-reverse;
        }
    }
}
.partners-area {
    text-align: center;
    padding: 100px 0;
    position: relative;
    .container {
        position: relative;
        z-index: 1;
    }
    @media screen and (max-width: 1023px) { 
        padding: 60px 0;
    }
    .content-text {
        padding-left: 64px;
        @media screen and (max-width: 1023px) {
            padding-left: 0;
            padding-top: 24px;
        }
    }
    &::before {
        width: 100%;
        height: 442px;
        position: absolute;
        top: 345px;
        left: 0;
        content: '';
        background-image: url('../src/assets/img/introbg.png');
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: 1023px) {
            top: 54%;
        }
    }
    h3 {
        font-size: 74px;
        font-weight: 500;
        margin: 15px 0 25px;
        @media screen and (max-width: 1023px) {
            text-align: center;
            font-size: 32px;
            margin-top: 40px;
        }
        span {
            color: #0166E2;
            font-weight: 900;
        }
    }
    h4 {
        font-size: 40px;
        font-weight: 500;
        margin: 0 0 40px;
        @media screen and (max-width: 1023px) {
            text-align: center;
            font-size: 24px;
        }
    }
    .about-intro {
        padding-bottom: 40px;
        @media screen and (max-width: 1023px) {
            padding-bottom: 40px;
        }
        h2 {
            font-size: 48px;
            font-weight: normal;
            margin: 0;
            text-align: left;
            @media screen and (max-width: 1023px) {
                text-align: center;
                font-size: 40px;
            }
            b {
                font-weight: 700;
            }
        }
        h3 {
            margin: 30px 0 0;
            text-align: left;
            font-size: 32px;
            line-height: 1.4;
            font-weight: normal;
            @media screen and (max-width: 1023px) {
                text-align: center;
                font-size: 24px;
            }
            span {
                font-weight: 700;
                color: #C3F500;
            }
        }
    }
    img.metalogo {
        max-width: 127px;
    }
    ul.img-gallery {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) { 
            justify-content: center;
        }
        li {
            
            @media screen and (max-width: 767px) { 
                margin-right: 28px;
                margin-bottom: 20px;
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }
}
.content-slider {
    padding: 0 0 100px;
    @media screen and (max-width: 1023px) { 
        padding: 0 0 40px;
    }
    h2 {
        font-size: 74px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 60px;
        span {
            color: #C3F500;
            font-weight: 600;
        }
        @media screen and (max-width: 1023px) {
            font-size: 40px;
            line-height: 1.4;
            margin-bottom: 24px;
        }
    }
}
.swiper-slide {
    position: relative;
    height: 700px !important;
    img {
        width: 100%;
        height: 100%;
    }
    .img-cover {
        height: 100%;
        width: 100%;
    }
}
.swiper {
    padding-bottom: 50px !important;
    .swiper-pagination {
        bottom: 10px !important;
    }
    .swiper-pagination-bullet {
        background: white;
    }
    .swiper-pagination-bullet-active {
        background-color: white !important;
    }
    .play_icons {
        width: 100px;
        height: 100px;
        background-image: url('../src/assets/img/icons/play_icon.svg');
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-size: cover;
        transition: all 0.25s ease;
        &:hover {
            transform: scale(0.85);
            cursor: pointer;
        }
    }
}
.comingsoon-section {
    padding: 0 0 100px;
    h3 {
        font-size: 90px;
        font-weight: 700;
        text-align: center;
        color: #C3F500;
        margin: 0;
    }
    h4 {
        font-size: 74px;
        font-weight: 400;
        margin: 0 0 25px;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
        list-style: none;
        padding-left: 0;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: 100%;
        }
    }
}
.contactus-area {
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1023px) { 
        padding-bottom: 36px;
    }
    .ant-col-3 {
        display: flex;
    }
    h2 {
        font-size: 48px;
        font-weight: normal;
        margin: 10px 0 0;
        @media screen and (max-width: 1200px) { 
            font-size: 32px;
        }
        span {
            display: block;
            font-weight: 600;
            font-size: 42px;
        }
        
        @media screen and (max-width: 1023px) { 
            font-size: 40px;
            text-align: center;
            margin-bottom: 24px;
            span {
                font-size: 48px;
                display: inline;
            }
        }
    }
    .ant-form-horizontal {
        // .ant-form-item-label {
        //     position: absolute;
        //     left: 28px;
        //     z-index: 9;
        //     top: 28px;
        //     font-weight: 600;
        //     > label {
        //         color: white;
        //     }
        // }
        // input.ant-input {
        //     height: 137px;
        //     padding: 42px 32px 32px;
        //     margin-bottom: 0;
        //     border-radius: 45px;
        //     @media screen and (max-width: 1023px) {  
        //         font-size: 16px;
        //         height: 121px;
        //     }
        // }
        
    }
    .field-box {
        height: 137px;
        padding: 32px 12px 32px 32px;
        margin-bottom: 0;
        border-radius: 45px;
        background: #202020;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 1023px) {  
            font-size: 16px;
            height: 121px;
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            b {
                display: block;
                margin-bottom: 5px;
            }
            a {
                text-decoration: none;
                font-weight: normal;
                color: #9D9D9D;
            }
        }
    }
    button.ant-btn-primary {
        height: 113px;
        padding: 16px 39px;
        border-radius: 32px;
        background-color: white;
        @media screen and (max-width: 1023px) {
            height: 97px;
        }
        &.yellow {
            background-color: #C3F500;
        }
    }
}
#contact_phone {
    margin-left: 15px;
    @media screen and (max-width: 1023px) {
        margin-left: 0;
    }
    button.ant-btn-primary {
        background: #C3F500;
        &:hover {
            background: white !important;
        }
    }
 }

 @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}